{% extends 'base.html.jinja' %}

{% block content %}

<div class="article-list">

  {% for article in articles %}
  <div class="article-container">
    <span class="article-list-date">
      {{ article.date|pretty_date }}
    </span>
    <span class="article-list-title">
      <a href="{{ article.url }}">
        {{ article.title }}
      </a>
    </span>
  </div>
  {% endfor %}

</div>

{% endblock %}
